/* *{
    background-image: linear-gradient(to left, rgb(15, 47, 152) , rgb(254, 43, 201));

} */
.home{
    /* background-image: linear-gradient(to left, rgb(15, 47, 152) , rgb(254, 43, 201)); */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;

}
.home ul{
    list-style-type: none; 
    cursor: pointer;
}
.text{
    margin-top: 7%;

}
.home h1{
    margin-bottom: 4%;
}
.home h3{
    margin-top: 2%;
    text-decoration: underline;
    margin-bottom: 1%;


}
.home li{
    margin-bottom: 15px;
    list-style: none;
    cursor: pointer;
    /* text-decoration: underline; */

}